@page
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <style type="text/css">
    </style>
}

<h2>Pagina de test initial</h2>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading"><i class="fas fa-trophy"></i> Merge! (daca se vede si cupa...)</h4>
</div>

<div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary">Popper-ul merge?</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <input type="text" class="form-control" aria-describedby="popperHelp" placeholder="Pune mouse-ul deasupra sa vezi daca merge popper" data-toggle="tooltip" data-placement="top" title="Popper works">
    </div>
    <small id="popperHelp" class="form-text text-muted">Deschide meniul butonului si fa mouse-over pe textbox sa vezi daca merge popper.</small>

    <div class="input-group date mt-5" data-provide="datepicker" style="width: 200px;">
        <input type="text" class="form-control">
        <div class="input-group-addon">
            <i class="far fa-calendar-alt fa-2x ml-2"></i>
        </div>
    </div>
</div>

<img src="~/images/cards/cardBack_blue1.png" />
<img src="~/images/cards/cardBack_blue2.png" />
<img src="~/images/cards/cardBack_blue3.png" />
<img src="~/images/cards/cardBack_blue4.png" />
<img src="~/images/cards/cardBack_blue5.png" />

<br />
<img src="~/images/cards/cardClubs2.png" />
<img src="~/images/cards/cardClubs3.png" />
<img src="~/images/cards/cardClubs4.png" />
<img src="~/images/cards/cardClubs5.png" />
<img src="~/images/cards/cardClubs6.png" />
<img src="~/images/cards/cardClubs7.png" />
<img src="~/images/cards/cardClubs8.png" />
<img src="~/images/cards/cardClubs9.png" />
<img src="~/images/cards/cardClubs10.png" />
<img src="~/images/cards/cardClubsJ.png" />
<img src="~/images/cards/cardClubsQ.png" />
<img src="~/images/cards/cardClubsK.png" />
<img src="~/images/cards/cardClubsA.png" />

<br />
<img src="~/images/cards/cardDiamonds2.png" />
<img src="~/images/cards/cardDiamonds3.png" />
<img src="~/images/cards/cardDiamonds4.png" />
<img src="~/images/cards/cardDiamonds5.png" />
<img src="~/images/cards/cardDiamonds6.png" />
<img src="~/images/cards/cardDiamonds7.png" />
<img src="~/images/cards/cardDiamonds8.png" />
<img src="~/images/cards/cardDiamonds9.png" />
<img src="~/images/cards/cardDiamonds10.png" />
<img src="~/images/cards/cardDiamondsJ.png" />
<img src="~/images/cards/cardDiamondsQ.png" />
<img src="~/images/cards/cardDiamondsK.png" />
<img src="~/images/cards/cardDiamondsA.png" />

<br />
<img src="~/images/cards/cardSpades2.png" />
<img src="~/images/cards/cardSpades3.png" />
<img src="~/images/cards/cardSpades4.png" />
<img src="~/images/cards/cardSpades5.png" />
<img src="~/images/cards/cardSpades6.png" />
<img src="~/images/cards/cardSpades7.png" />
<img src="~/images/cards/cardSpades8.png" />
<img src="~/images/cards/cardSpades9.png" />
<img src="~/images/cards/cardSpades10.png" />
<img src="~/images/cards/cardSpadesJ.png" />
<img src="~/images/cards/cardSpadesQ.png" />
<img src="~/images/cards/cardSpadesK.png" />
<img src="~/images/cards/cardSpadesA.png" />

<br />
<img src="~/images/cards/cardHearts2.png" />
<img src="~/images/cards/cardHearts3.png" />
<img src="~/images/cards/cardHearts4.png" />
<img src="~/images/cards/cardHearts5.png" />
<img src="~/images/cards/cardHearts6.png" />
<img src="~/images/cards/cardHearts7.png" />
<img src="~/images/cards/cardHearts8.png" />
<img src="~/images/cards/cardHearts9.png" />
<img src="~/images/cards/cardHearts10.png" />
<img src="~/images/cards/cardHeartsJ.png" />
<img src="~/images/cards/cardHeartsQ.png" />
<img src="~/images/cards/cardHeartsK.png" />
<img src="~/images/cards/cardHeartsA.png" />

